<launch>
  <arg name="gripper_name" default="gripper" />
  <arg name="slave_number" default="1" />
  <arg name="activate" default="True" />
  <arg name="gripper_serial_port" default="/dev/ttyUSB0"/>

  <node pkg="robotiq_c_model_control" type="CModelRtuNode.py" args="$(arg gripper_serial_port)">
    <remap from="CModelRobotOutput" to="/$(arg gripper_name)/output" />
    <remap from="CModelRobotInput" to="/$(arg gripper_name)/input" />
  </node>

  <node pkg="robotiq_action_server" type="robotiq_c_model_action_server" name="gripper_server">
    <param name="activate" type="bool" value="$(arg activate)" />
    <param name="slave_number" type="int" value="$(arg slave_number)"/>
    <remap from="output" to="/$(arg gripper_name)/output" />
    <remap from="input" to="/$(arg gripper_name)/input" />
  </node>
</launch>
